/* --------------- OBJETS CSS POUR LA PAGE REMONTER DANS LE TEMPS -------------- */

body{
    user-select: none;
  }

h1{
    text-align:center
}

.box{
  background-color: white;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.box:hover{
  background-color: rgb(190, 237, 255);
  color: black;
}
.background-color{
  background: #78d5fa;
}
.font{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.layer{
  background-color: white;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

.map {  
  width: 100%;
  height: 80vh;
  margin-top: 10px;
}

.clicked {
  background-color: rgb(190, 237, 255);
}


/* CHECKBOX */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  left: -20px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgb(102, 102, 102);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(210, 210, 210);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #259fd3;
  border:#259fd3
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}

.checkbox-container label {

  align-items: center;
  transform: translateY(20%);
  text-align: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5%;
}

.legende-couleur {
    width: 20px;
    height: 20px;
    border: 2px solid #000; 
    margin-left: 13px;
}
  
.legende-1990 {
    background-color: rgba(0, 128, 0, 0.3);
    border-color: rgba(0, 128, 0, 0.8); 
}
  
.legende-2000 {
    background-color: rgba(255, 255, 0, 0.3); 
    border-color: rgba(255, 255, 0, 0.8); 
}
  
.legende-2006 {
    background-color: rgba(255, 165, 0, 0.3); 
    border-color: rgba(255, 165, 0, 0.8); 
}
  
.legende-2012 {
    background-color: rgba(255, 0, 0, 0.3); 
    border-color: rgba(255, 0, 0, 0.8); 
}
  
.info-box {
  background-color: #fff; 
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px; 
  font-size: 14px;
  overflow-y: auto;
  max-height: 58vh;
}

.opacite-bar-container label {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold; 
}


.overlay-container {
  position: absolute;
  top: 10px;
  left: 59%;
  z-index: 2; 
  width: 14%; 
  height: 5%; 
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}