/* --------------- PRINCIPAUX OBJETS -------------- */

body{
  user-select: none;
}

.jscolor {
  min-width: 20px;
  position: absolute;
  top: 1px;
  left: -20px;
  height: 20px;
  width: 30px;
  border-radius: 20%; 
  background-color: white;
  border: 2px solid rgb(102, 102, 102);
}

.box{
  background-color: white;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.box:hover{
  background-color: rgb(190, 237, 255);
  color: black;
}
.background-color{
  background: #78d5fa;
}
.font{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.layer{
  background-color: white;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.map{
  height: 100%;
  z-index: 1;
  text-align: right;
}
.legend{
  display: none;
  position: absolute;
  z-index: 1000;
  margin-block-start: 1em;
  margin-block-end: 50em;
  margin-inline-start: 1em;
  height: 70%;
  width: 20%;
}

.clicked {
  background-color: rgb(190, 237, 255);
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  box-sizing: border-box; /* Ensures padding is included in the width */
  font-size: smaller;
  font-style: italic;
}

/* --------------- JSCOLOR Colorpicker -------------- */

.jscolor {
  min-width: 20px;
  position: absolute;
  top: 1px;
  left: -20px;
  height: 20px;
  width: 30px;
  border-radius: 20%; 
  background-color: white;
  border: 2px solid rgb(102, 102, 102);
}

/* --------------- CHECKBOX -------------- */

.overlay-container {
  position: absolute; /* Set the position of the overlay container to absolute */
  top: 0;
  left: 68%;
  z-index: 2; /* Set a higher z-index to ensure it appears on top of other content */
  width: 14%; 
  height: 5%; 
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.container {
  display: block;
  position: relative;
  padding-bottom: 3px;
  padding-left: 35px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: -15px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgb(102, 102, 102);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(243, 243, 243);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #259fd3;
  border:#259fd3
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}

.checkbox-container label {
  align-items: center;
  transform: translateY(20%);
  text-align: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

/*BOX DU NOM DE LA COUCHE*/
.bouton_couche{
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgb(192, 236, 255);
  color:black;
  font-weight: 550;
  height: 50px;
  width:240px;
}

.bouton_couche:hover{
  background-color: rgb(128, 174, 226);
}

.titre_bouton{
  background-color:#78d5fa; /*default*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 700;
}
.informations{
  display: none;
  position: absolute;
  z-index: 1001;
  margin-block-start: 1em;
  margin-block-end: 50em;
  margin-inline-start: 1em;
  height: 70%;
  width: 20%;
}


/* --------------- POP UP ACCUEIL -------------- */

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.popup{
    background-color: #ffffff;
    width: 850px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    z-index:3;
}
.popup button{
    border: none;
    outline: none;
    display: block;
    width: 200px;
    position: relative;
    margin: 0px auto;
    text-align: center;
    background-color: #2182f0;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}
.popup p{
    font-size: 12px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

.popup h2{
  font-size: 23px;
  padding-top: 10px;
  font-weight: 200;
}

/* REMONTER DANS LE TEMPS */

.btn-light {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}


/* --------------- FIN -------------- */
